# basic envirenment
torch==1.7.1
torchvision==0.8.2

# if you need an efficientnet implement,
# this package will only use in file
# $(SourceRoot)/custom_model_trainer.py and $(SourceRoot)/core/models/efficientnet.py
efficientnet_pytorch

# if you want to use scripts in $(SourceRoot)/data/postprocess
matplotlib

# DWT support
pywavelets
